# Tests
numpy
pytest
codecov
pytest-cov
pytest-xdist
dill
# Test contrib dependencies
tqdm==4.59.0
scikit-learn
matplotlib
tensorboardX
visdom
polyaxon
polyaxon-client
wandb
mlflow
neptune-client
tensorboard
pynvml
clearml
scikit-image
py-rouge
nltk
# Examples dependencies
pandas
gym
mkl
